@{
    ViewData["Title"] = "Contact";

}
<h2>@ViewData["Title"]</h2>


<address>
    Linn Tunberg<br />
    Göteborg<br />
    <abbr title="Phone">Phone:</abbr>
    012.345.6789
</address>

<address>
    <strong>Support:</strong> <a href="mailto:linn.tunberg@gmail.com">linn.tunberg@gmail.com</a><br />
</address>
