@model Webshop.Models.CheckoutViewModel
@{
}
<body style="background-color: black">
</body>

<h2 class="header" style="color: white">Checkout</h2>


@foreach (var products in Model.Cart)
{
    <br />
    <p style="color: white">@(products.Item)</p>
    <img class="thumbnail" src="images/@(products.Image)" alt="image of product" style="width: 400px;">
    <p style="color: white">Quantity: @(products.Quantity)</p>
    <p style="color: white">Price: $@(products.Price)</p>
    <br />
    <br />

}
    <h4 style="color: white">Total: $@(Model.Sum)</h4>

<form action="" style="color: white; width: 200px;">

    <br />First name: <input style="color: black" type="text" name="FirstName" value=""><br>
    <br />Last name: <input style="color: black" type="text" name="LastName" value=""><br>
    <br />Email: <input style="color: black" type="text" name="Email" value=""><br>
    <br />Address: <input style="color: black" type="text" name="Address" value=""><br>
    <br />Country: <input style="color: black" type="text" name="Country" value=""><br>
    <br />Zipcode: <input style="color: black" type="text" name="Zipcode" value=""><br>
    <br />Card Number: <input style="color: black" type="text" name="Card Number" value=""><br>
</form>
<br />
<form action="" method=post>
    <input type=submit value="Place Order" />
</form>
